{% extends 'base.html' %}

{% block title%}About{% endblock title %}

{% block content %}
<h1>About HackHub</h1>
<p>
    Welcome to HackHub, a vibrant online forum dedicated to the art and science of ethical hacking. Here, enthusiasts
    and experts alike come together to explore topics ranging from hardware hacking to cybersecurity best practices.

    At HackHub, our community thrives on the principles of openness, collaboration, and education. Our members freely
    share ideas, insights, and resources, fostering a spirit of mutual learning and growth. Whether you're a seasoned
    professional or just starting out on your hacking journey, you'll find a welcoming community eager to support you
    every step of the way.

    From dissecting the latest security vulnerabilities to collaborating on innovative projects, HackHub is the place to
    be for anyone passionate about ethical hacking. And rest assured, our community strictly prohibits any illegal
    activity—our sole focus is on using our skills for the greater good of learning and educating others.

    Join us at HackHub and become part of a dynamic community dedicated to pushing the boundaries of cybersecurity in a
    safe, responsible, and ethical manner.</p>
{% endblock content %}